{% extends "base.html" %}

{% load static %}

{% block content %}

    <body>
        
        <!-- Start your project here-->
        <style>
            .gradient-custom {
            /* fallback for old browsers */
            background: #fccb90;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1));

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1))
            }

            .mask-custom {
            background: rgba(24, 24, 16, .2);
            border-radius: 2em;
            backdrop-filter: blur(15px);
            border: 2px solid rgba(255, 255, 255, 0.05);
            background-clip: padding-box;
            box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
            }
        </style>
        
        <section class="gradient-custom">
            <div class="container py-5 text-center">

            <div class="row">

               <div class="col-md-6 col-lg-5 col-xl-5 mb-4 mb-md-0">

                <h5 class="font-weight-bold mb-3 text-center text-white">
                {{ user.username }}
                </h5>

                <a class="text-end" href="{% url 'logout' %}">Logout</a>

                <div class="card mask-custom">
                    <div class="card-body">
                    <ul class="list-unstyled mb-0 msg-container">
                        {% for k,m in msgs.items %}
                        <li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                        <a href="javascript:void(0);" class="d-flex justify-content-between link-light">
                            <div class="d-flex flex-row">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp" alt="avatar"
                                class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                            <div class="pt-1">
                                <p class="fw-bold mb-0">
                                {{k}}
                                {% if k == user.username %} (me) {% endif %}
                                </p>
                                <p class="small text-white">{{m.0}}</p>
                            </div>
                            </div>
                            <div class="pt-1">
                            <p class="small text-white mb-1">{{m.1}}</p>
                            {% comment %} <span class="badge bg-danger float-end">1</span> {% endcomment %}
                            </div>
                        </a>
                        </li>
                        {% endfor %}
                    </ul> 

                    </div>
                </div> 

                </div> 

                <div class="col-md-6 col-lg-7 col-xl-7">

                <form method="POST" id="msgForm" action="">
                    {% csrf_token %}
                    <ul class="list-unstyled text-white" id="msg-container">  
                    </ul>

                    <div class="mb-3">
                        <div class="form-outline form-white" style="display:none;">
                            {{ msgfrm.sender }}
                        </div>
                        <div class="form-outline form-white"> 
                            {{ msgfrm.msg }}
                        </div>
                    </div>
                    <button type="button" class="btn btn-light btn-lg btn-rounded float-end btn-send" id="msgBtn">Send</button>

                </form>

                </div>

            </div>

            </div>
        </section>
        <!-- End your project here-->

        <!-- MDB -->
        <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
        <!-- Custom scripts -->
        <script type="text/javascript">

            var uname = '{{ user.username }}';  

            const chatSocket = new WebSocket("ws://" + window.location.host + "/");
            chatSocket.onopen = function(e) {
                console.log("The Connection was setup Successfully!");
            }

            chatSocket.close = function(e) {
                console.log("The Connection was got Lost!");
            }

            document.querySelector("#msgArea").focus();
            document.querySelector("#msgArea").onkeyup = function(e) {
                if(e.keyCode == 13) {
                    document.querySelector("#msgBtn").click();
                }
            }

            document.querySelector("#msgBtn").onclick = function(e) {
                var messageInput = document.querySelector("#msgArea").value;
                var currTime = new Date();
                var time = currTime.toLocaleTimeString();
                chatSocket.send(JSON.stringify({
                    message: messageInput,
                    username: uname,
                    time: time
                }));
            }

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                console.log('data', data);

                var messageContainer = document.querySelector("#msg-container");
                var msgBox = document.createElement("li");
                var style = '';
                msgBox.className = "d-flex justify-content-between mb-4";
                if (data.username == uname) {
                    msgBox.className += " flex-row-reverse";
                    style = 'border-color: green;';
                }

                 

                var el = `<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-1.webp" alt="avatar"`+
                            `class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">`+
                        `<div class="card mask-custom" style="${style}">`+
                            `<div class="card-header d-flex justify-content-between p-3"`+
                            `style="border-bottom: 1px solid rgba(255,255,255,.3);">`+
                            `<p class="fw-bold mb-0"> ${data.username} </p>`+
                            `<p class="text-light small mb-0"><i class="far fa-clock"></i> ${data.time} </p>`+
                            `</div>`+
                            `<div class="card-body">`+
                            `<p class="mb-0"> ${data.message}` +
                            `</p>`+
                            `</div>`+
                        `</div>`;
                
                    
                msgBox.innerHTML = el;

                document.querySelector("#msgArea").value = '';

                messageContainer.append(msgBox);

                // $("#msgForm").submit();
                
                $.ajax({
                    type:'POST',
                    url:'{% url "home" %}',
                    data:
                    {
                        sender: data.username,
                        msg: data.message,
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(){
                    alert('Saved');
                    }
                })
            }

        </script>
    </body>

{% endblock %}    