{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-center"><h2>Login</h2></div>

<div class="d-flex justify-content-center">
    <form method="POST" action="{% url 'login' %}" class="form-centered col-md-6 offset-md-3 mx-auto">
        {% csrf_token %}
        <div class="form-group">
            <label class="form-label" for="form.username.id_for_label">Username</label>
            <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" class="form-control" placeholder="Username" value="{{ form.username.value }}">
            {% for err in form.username.errors %}
            <span class="text-danger">{{ err }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label class="form-label" for="form.password.id_for_label">Password</label>
            <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" class="form-control" placeholder="Password" value="{{ form.password.value }}">
            {% for err in form.password.errors %}
            <span class="text-danger">{{ err }}</span>
            {% endfor %}
        </div>
    
        <div class="text-center">
            <button type="submit" class="btn btn-danger">Sign in</button>
        </div>
        <br>
        <div class="text-center"><a href="{% url 'registration' %}">Sign up</a></div>
    </form>
</div>

{% endblock %}    